$richBlack: #464646;
$neutral: #ecedee;
$warm: #edece4;
$cool: #ebf3f7;

.annotatedColumnChart {

	@extend %chart;

	rect {
		shape-rendering: crispEdges;
	}

	// circle {
	// 	stroke-width: 0.75px;
	// }

	.x.axis path,
	.x.axis line {
		fill: none;
		stroke: $richBlack;
		shape-rendering: crispEdges;
	}

	// .y.axis path.domain {
	// 	display: none;
	// }

	.gridlines line {
		stroke: white;
		stroke-width: 1px;
		shape-rendering: crispEdges;
	}

	path.area.fill {
		fill: $neutral;
		stroke: none;
		shape-rendering: crispEdges;
	}

	path.area.stroke {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}

	.axis text {
		fill: $richBlack;
		font-size: 10px;
	}	

}