.sass-cache
.tmp
/node_modules
PROD.jpt
git.sh
index.html
globeproject.sublime-workspace
data/downloaded
parts/globe
potholes.csv
.Rhistorygraphics/graphic/js/templates/templates.js
data/potholes_cache
data/.Rhistory
data/output
