$richBlack: #464646;
$neutral: #ecedee;
$warm: #edece4;
$cool: #ebf3f7;

.igraphic-graphic.graphic {

	.analysis {

		@extend %centercolumn;

		p.description {
			@include rhythm(1, 0, 0, 0);
			@include adjust-leading-to(1);
		}

		.chart {

			position: relative;
			@include rhythm(1, 0, 0, 4);

			.title {
				position: absolute;
				top: 0;
				left: 0;

				span {
					font-family: $sansSerifStrong;
				}
			}

			svg {
				vertical-align: bottom;
			}

			svg text {
				font-family: $sansSerif;
			}

			rect {
				shape-rendering: crispEdges;
			}

			.x.axis path,
			.x.axis line {
				fill: none;
				stroke: $richBlack;
				shape-rendering: crispEdges;
			}

			.axis text {
				fill: $richBlack;
				font-size: 10px;
			}

			&.yearlyIncreaseByDistrict {

				g.bar text.number {
					fill: white;
					text-shadow: 0 0 2px rgba(0,0,0,0.3), 0 0 2px rgba(0,0,0,0.3);
				}
			}

			.annotationMarkers line {
				stroke: $richBlack;
				shape-rendering: crispEdges;
				stroke-dasharray: 1,1;
			}

			.annotations {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				.annotation {
					position: absolute;
					font-family: $sansSerif;
					@include adjust-font-size-to($s3);
					@include adjust-leading-to(1);
					width: 10em;
					text-align: left;
					padding: 0 0.5em;
					background: white;

					span {
						display: inline-block;

						&.date {
							font-weight: bold;
						}
					}
				}
			}
		}

		.map {

			&.maxDailyPotholeClosures {
				width: 100%;
				height: 0%;
				padding-bottom: 100%;
			}
		}
	}





	// .source-and-credit {
	// 	@include rhythm(8, 0, 0, 0);
	// }

	// .question {

	// 	text-align: center;

	// 	span {
	// 		font-family: $serifSuperStrong;
	// 		@include adjust-font-size-to($s6);
	// 	}
	// }
	
}

.meter-modal-block.bg-modal--meter {
	display: none;
}