$richBlack: #464646;
$neutral: #ecedee;
$warm: #edece4;
$cool: #ebf3f7;

.igraphic-graphic.graphic {

	.analysis {

		// font-family: $sansSerif;
		// @include adjust-font-size-to($s3p5);

		@extend %centercolumn;

		.chart {

			position: relative;

			svg {
				vertical-align: bottom;
			}

			svg text {
				font-family: $sansSerif;
			}

			.x.axis path,
			.x.axis line {
				fill: none;
				stroke: $richBlack;
				shape-rendering: crispEdges;
			}

			.axis text {
				fill: $richBlack;
				font-size: 10px;
			}

			.gridlines line {
				stroke: white;
				shape-rendering: crispEdges;
			}

			&.potholeClosuresPerDay {
				text-align: center;
			}

			&._30dayRollingMean {

				.x.axis path.domain {
					stroke: white;
				}

				path.area {

					&.fill {
						fill: $neutral;
						stroke: none;
					}
					&.stroke {
						stroke: black;
						fill: none;
					}
				}
			}

			.annotationMarkers line {
				stroke: $richBlack;
				shape-rendering: crispEdges;
				stroke-dasharray: 1,1;
			}

			.annotations {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				.annotation {
					position: absolute;
					font-family: $sansSerif;
					@include adjust-font-size-to($s3);
					@include adjust-leading-to(1);
					width: 10em;
					text-align: left;
					padding: 0 0.5em;
					background: white;

					span {
						display: inline-block;

						&.date {
							font-weight: bold;
						}
					}
				}
			}
		}

		.map {

			&.maxDailyPotholeClosures {
				width: 100%;
				height: 0%;
				padding-bottom: 100%;
			}
		}
	}





	// .source-and-credit {
	// 	@include rhythm(8, 0, 0, 0);
	// }

	// .question {

	// 	text-align: center;

	// 	span {
	// 		font-family: $serifSuperStrong;
	// 		@include adjust-font-size-to($s6);
	// 	}
	// }
	
}

.meter-modal-block.bg-modal--meter {
	display: none;
}