.igraphic-graphic.graphic {

	$richBlack: #464646;

	.analysis {
		@extend %centercolumn;

		.chart {

			.axis path,
			.axis line {
				fill: none;
				stroke: $richBlack;
				shape-rendering: crispEdges;
			}

			.axis text {
				font-family: $sansSerif;
				@include adjust-font-size-to($s3);
				fill: $richBlack;
			}

			&.potholeClosuresPerDay {
				text-align: center;
			}

		}

	}





	// .source-and-credit {
	// 	@include rhythm(8, 0, 0, 0);
	// }

	// .question {

	// 	text-align: center;

	// 	span {
	// 		font-family: $serifSuperStrong;
	// 		@include adjust-font-size-to($s6);
	// 	}
	// }
	
}

.meter-modal-block.bg-modal--meter {
	display: none;
}